:root {
  --swiper-theme-color: #ffffff !important;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 0.4vw));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 0.4vw));
  background-color: rgba(255, 255, 255, 0.4509803922);
  margin: 1vw auto !important;
}
.swiper-pagination-bullet-active {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 0.7vw));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 0.7vw));
  background-color: #ffffff;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 3vw;
}

.mx-94px {
  margin-left: 94px;
  margin-right: 94px;
}
.mx-98px {
  margin-left: 3vw;
  margin-right: 3vw;
}
.my-22px {
  margin-top: 22px;
  margin-bottom: 22px;
}
.my-24px {
  margin-top: 24px;
  margin-bottom: 24px;
}
.mt-23px {
  margin-top: 23px;
}
.me-24px {
  margin-right: 1vw;
}
.me-69px {
  margin-right: 69px;
}
.me-73px {
  margin-right: 2vw;
}
.mb-5px {
  margin-bottom: 5px;
}
.mb-14px {
  margin-bottom: 14px;
}
.ms-94px {
  margin-left: 94px;
}

.lh-14px {
  line-height: 14px;
}

.header-logo-white {
  background-image: url("../imgs/logo_white.svg");
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 2.7vw;
}
.header-logo-black {
  background-image: url("../imgs/logo_black.svg");
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 2.7vw;
}

.header_sns {
  width: 1.25vw !important;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn_app_download:hover {
  transform: scale(1.03) !important;
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* copy from here */
.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(--sizeX/2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  -webkit-animation: scrolldown-anim 2s infinite;
          animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px rgba(255, 255, 255, 0.4);
}

@-webkit-keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  -webkit-animation: pulse 500ms ease infinite alternate;
          animation: pulse 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  -webkit-animation: pulse 500ms ease infinite alternate 250ms;
          animation: pulse 500ms ease infinite alternate 250ms;
}

@-webkit-keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
/*copy until here */
.text-69008E {
  color: #69008E;
}

.slide1_img1 {
  width: 30% !important;
}
.slide1_img2 {
  width: 60% !important;
}
.slide1_img3 {
  width: 38% !important;
}

.slide2_img_1 {
  height: 7vw !important;
  margin-left: 1vw;
}
.slide2_img_2 {
  height: 6vw !important;
  margin-top: 3.5vw;
  margin-left: -6vw;
}
.slide2_img_3 {
  height: 7vw !important;
  margin-top: -5.6vw;
  margin-left: -3vw;
}
.slide2_img_4 {
  height: 7vw !important;
  margin-top: -2.2vw;
  margin-left: -6vw;
}
.slide2_img_5 {
  height: 6.5vw !important;
  margin-top: -6vw;
  margin-left: -7vw;
}
.slide2_img_6 {
  height: 6.5vw !important;
  margin-top: -3vw;
  margin-left: -15vw;
}

.rotate_bg {
  position: absolute;
  width: 68vw;
  height: 13vw;
  bottom: 26.5vw;
  margin: 0 auto;
  left: 47vw;
  transform: translateX(-540px);
  transform: rotate(230deg);
}
.rotate_bg_subs {
  width: 10%;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 20;
  opacity: 0;
  -webkit-animation-name: opacity_test;
          animation-name: opacity_test;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.rotate_trigger1 {
  -webkit-animation-name: rotate_test1;
          animation-name: rotate_test1;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.rotate_trigger2 {
  -webkit-animation-name: rotate_test2;
          animation-name: rotate_test2;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.rotate_trigger3 {
  -webkit-animation-name: rotate_test3;
          animation-name: rotate_test3;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.rotate_trigger4 {
  -webkit-animation-name: rotate_test4;
          animation-name: rotate_test4;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

@-webkit-keyframes rotate_test1 {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(315deg);
  }
}

@keyframes rotate_test1 {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
@-webkit-keyframes rotate_test2 {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(335deg);
  }
}
@keyframes rotate_test2 {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(335deg);
  }
}
@-webkit-keyframes rotate_test3 {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(355deg);
  }
}
@keyframes rotate_test3 {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(355deg);
  }
}
@-webkit-keyframes rotate_test4 {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(375deg);
  }
}
@keyframes rotate_test4 {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(375deg);
  }
}
@-webkit-keyframes opacity_test {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity_test {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text-69008E {
  color: #69008E;
}

.SCDream1 {
  font-family: "SCDream1" !important;
}
.SCDream2 {
  font-family: "SCDream2" !important;
}
.SCDream3 {
  font-family: "SCDream3" !important;
}
.SCDream4 {
  font-family: "SCDream4" !important;
}
.SCDream5 {
  font-family: "SCDream5" !important;
}
.SCDream6 {
  font-family: "SCDream6" !important;
}
.SCDream7 {
  font-family: "SCDream7" !important;
}
.SCDream8 {
  font-family: "SCDream8" !important;
}

.myswiper8 {
  min-width: 1920px;
}

.warn {
  position: absolute;
  z-index: 1;
  margin: 6.5vw 0 0 auto;
  width: 100%;
  padding-right: 5.5vw;
  color: #ffffff;
  font-size: 0.83vw;
  font-family: "SCDream4";
}

.header_border_line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2392156863);
}

.header_bg {
  background-color: rgba(255, 255, 255, 0.1019607843);
}

.scaledown {
  -webkit-animation-name: sdown;
          animation-name: sdown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes sdown {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(0.8, 0.8, 1);
  }
}

@keyframes sdown {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(0.8, 0.8, 1);
  }
}
.scaleup {
  -webkit-animation-name: sup;
          animation-name: sup;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes sup {
  0% {
    transform: scale3d(0.8, 0.8, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes sup {
  0% {
    transform: scale3d(0.8, 0.8, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.w-10vw {
  width: 10vw;
}

.fs-1vw {
  font-size: 1vw;
}

.fs-1point3vw {
  font-size: 1.3vw;
}/*# sourceMappingURL=compile.css.map */